body {
  background-color: #ff8000;
}
h1 {
  background-color: white;
  color: black;
  font-size: 3em;
  line-height: 3em;
  text-align: center;
  font-family: 'Sigmar One', cursive;
  border-radius: 25px;
}
