body {
  background-color: #ff8000;
}

h1 {
  background-color: white;
  color: black;
  font-size: 3em;
  line-height: 2;
  text-align: center;
  font-family: 'Sigmar One', cursive;
}

img {
  width: 100%;
}

.container {
  background-color: beige;
  margin-top:50px;
  padding: 20px;
}
